<head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  </head>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="parksForm">
  <div>
    <div class="main-div">
        <h1 class="heading">Create a Park.</h1>
    <div>
      <mat-form-field>
        <input matInput placeholder="ParkId" formControlName="ParkId" type="ParkId" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Park Name" formControlName="ParkName" type="ParkName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Park Cost" formControlName="ParkCost" type="ParkCost" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Park City" formControlName="ParkCity" type="ParkCity" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Park Address" formControlName="ParkAddress" type="ParkAddress" required/>
      </mat-form-field>
    </div>
    <div>
      <!-- <mat-form-field>
        <input matInput placeholder="Park State" formControlName="ParkState" type="ParkState" required/>
      </mat-form-field> -->
      <mat-form-field>
        <mat-select placeholder="State">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Park Zip" formControlName="ParkZip" type="ParkZip" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Park Phone" formControlName="ParkPhone" type="ParkPhone" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Park Website" formControlName="ParkWebsite" type="ParkWebsite" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Park Description" formControlName="ParkDescription" type="ParkDescription" required/>
      </mat-form-field>
    </div>
    <button mat-raised-button class="nav-btn" type="submit">Create Park</button>
  </div>
  </div>
  
  <a mat-button routerLink="/park">Back to Parks</a>
</form>
​
