<footer class="footer">
      <div>
            <a href="https://www.facebook.com/"><img src="assets/facebook.png" alt="Facebook"/></a>
            &nbsp;
            <a href="https://twitter.com/"><img src="assets/twitter.png" alt="Twitter" /></a>
            &nbsp;
            <a href="https://www.instagram.com/"><img src="assets/instagram.png" alt="Instagram" /></a>
      </div>
      <div class="FooterLink">
            <a class="FooterLink" routerLink="/about">About</a>
            &bull;
            <a class="FooterLink" routerLink="/contact">Contact</a>
      </div>
      <div>&copy; 2018 &bull; Parks and Tech &bull; Version 1.0</div>
</footer>