.example-fill-remaining-space{
    flex: 1 1 auto;
}
.nav-bar{
    background-color: #763c24;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.heading{
    text-decoration: none;
    color: white;
}
h1{
    position: relative;
    color: white;
}