.example-fill-remaining-space{
    flex: 1 1 auto;
}
.nav-bar{
    background-color: #012779;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.buttons{
    margin-right: 10px;
}
.btn-group button{
    margin-right: 10px;
}

.main-container{
    display: flex;
}
.logging-btns{
    display: flex;
    flex: 1;
    order: 1;
    justify-content: flex-start;
}
.heading-logo{
    display: flex;
    flex: 1;
    order: 2;
    justify-content: flex-end;
    
}
.heading-logo a{
    text-decoration: none;
    color: white;
}
.three-btns{
    display: flex;
    flex: 1;
    order: 1;
    justify-content: flex-start;
}
.logo{
    display: flex;
    flex: 1;
    order: 2;
    justify-content: center;
    align-items: center;
}
.logout-btn{
    display: flex;
    flex: 1;
    order: 3;
    justify-content: flex-end
}
.logo a{
    color: white;
    text-decoration: none;
    /* margin-left: 150px; */
}
