<h1>Edit My Park</h1>

<div *ngIf="myPark" class="main-div">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editMyParkForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="Park ID" formControlName="ParkID" type="ParkID"  >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Park Name" formControlName="ParkName" type="ParkName"  >
        </mat-form-field>
      </div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="Trail ID" formControlName="TrailID" type="TrailID"  >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Trail Name" formControlName="TrailName" type="TrailName"  >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
            <mat-select placeholder="My Trail Status" formControlName="MyTrailStatus" required>
                <mat-option *ngFor="let trailStatus of trailStatus" [value]="trailStatus">{{trailStatus}}</mat-option>
              </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Trail Comment" formControlName="TrailComment" type="TrailComment" >
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
      &nbsp;
      <a mat-button class="nav-btn"  routerLink="/mypark">Back to List</a>
    </div>
    &nbsp;
  </form>
</div>
  ​