<h1>Delete</h1>
<h4>Are you sure you want to delete this?</h4>

<div *ngIf="park" class="main-div">
  <div>
    <label for="">ParkID</label>
    <span>{{park.ParkID}}</span>
  </div>
  <div>
      <label for="">ParkName</label>
      <span>{{park.ParkName}}</span>
  </div>
  <div>
      <label for="">ParkCost</label>
      <span>{{park.ParkCost}}</span>
  </div>
  <div>
      <label for="">ParkAddress</label>
      <span>{{park.ParkAddress}}</span>
  </div>
  <div>
      <label for="">ParkCity</label>
      <span>{{park.ParkCity}}</span>
  </div>
  <div>
      <label for="">ParkState</label>
      <span>{{park.ParkState}}</span>
  </div>
  <div>
      <label for="">ParkZip</label>
      <span>{{park.ParkZip}}</span>
  </div>
  <div>
      <label for="">ParkPhone</label>
      <span>{{park.ParkPhone}}</span>
  </div>
  <div>
      <label for="">ParkWebsite</label>
      <span>{{park.ParkWebsite}}</span>
  </div>
  <div>
      <label for="">ParkDescription</label>
      <span>{{park.ParkDescription}}</span>
  </div>
</div>

<button mat-button color="warn" type="submit" (click)="onDelete()">Delete</button> |
<button mat-button color="primary" routerLink="/park">Back to List</button>