<h1> Trails</h1>
<a mat-raised-button color="white">Add New Trail</a>
<hr>

<div>
  <table mat-table [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="columnNames"></tr >
    <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>

    <ng-container matColumnDef="TrailId">
      <th mat-header-cell *matHeaderCellDef>Trail Id</th>
      <td mat-cell *matCellDef="let trail">{{trail.TrailId}}</td>
    </ng-container>
    
    <ng-container matColumnDef="TrailName">
      <th mat-header-cell *matHeaderCellDef>Trail Name</th>
      <td mat-cell *matCellDef="let trail">{{trail.TrailName}}</td>
    </ng-container>
    
    <ng-container matColumnDef="TrailDistance">
      <th mat-header-cell *matHeaderCellDef>Trail Distance</th>
      <td mat-cell *matCellDef="let trail" >{{trail.TrailDistance}}<td>
    </ng-container>
    
    <ng-container matColumnDef="Difficulty">
      <th mat-header-cell *matHeaderCellDef>Difficulty</th>
      <td mat-cell *matCellDef="let trail">{{trail.Difficulty}}</td>
    </ng-container>
    
    <ng-container matColumnDef="IsOpen">
      <th mat-header-cell *matHeaderCellDef>Trail Status</th>
      <td mat-cell *matCellDef="let trail">{{trail.TrailStatus}}</td>
    </ng-container>
    
    <ng-container matColumnDef="ParkId">
      <th mat-header-cell *matHeaderCellDef>Park</th>
      <td mat-cell *matCellDef="let trail">{{trail.ParkId}}</td>
    </ng-container>
  </table>
</div>