<h1>Park Details</h1>

<div class="main-div">

<div *ngIf= "park">
  <div hidden>
    <label class="park-detail-lable" for="">Park ID:</label>
    &nbsp;
    <span>{{park.ParkID}}</span>
  </div>
  <div>
    <label class="park-detail-lable" for="">Park Name:</label>
    &nbsp;
    <span>{{park.ParkName}}</span>
  </div>
  <div>
    <label class="park-detail-lable" for="">Park Cost:</label>
    &nbsp;
    <span>$ {{park.ParkCost}}</span>
  </div>
  <div>
      <label class="park-detail-lable" for="">Park Address:</label>
      &nbsp;
      <span>{{park.ParkAddress}}</span>
  </div>
  <div>
      <label class="park-detail-lable" for="">Park City:</label>
      &nbsp;
      <span>{{park.ParkCity}}</span>
  </div>
  <div>
    <label class="park-detail-lable" for="">Park State:</label>
    &nbsp;
    <span>{{park.ParkCity}}</span>
  </div>
  <div>
    <label class="park-detail-lable" for="">Park Zip:</label>
    &nbsp;
    <span>{{park.ParkZip}}</span>
  </div>
  <div>
      <label class="park-detail-lable" for="">Park Phone:</label>
      &nbsp;
      <span>{{park.ParkPhone}}</span>
  </div>
  <div>
      <label class="park-detail-lable" for="">Park Website:</label>
      &nbsp;
      <span>{{park.ParkWebsite}}</span>
  </div>
  <div>
      <label class="park-detail-lable" for="">Park Description:</label>
      &nbsp;
      <span>{{park.ParkDescription}}</span>
  </div>
</div>
&nbsp;
</div>