<div class="main-div">

<h1>Trail Details</h1>

<div *ngIf="trail">
  <div hidden>
    <label class="trail-detail-lable" for="">Trail ID:</label>
    &nbsp;
    <span>{{trail.TrailID}}</span>
  </div>
  <div>
    <label class="trail-detail-lable" for="">Trail Name:</label>
    &nbsp;
    <span>{{trail.TrailName}}</span>
  </div>
  <div>
    <label class="trail-detail-lable" for="">Trail Distance:</label>
    &nbsp;
    <span>{{trail.TrailDistance}}</span>
  </div>
  <div>
    <label class="trail-detail-lable" for="">Difficulty:</label>
    &nbsp;
    <span>{{difficultyDisplay}}</span>
  </div>
  <div>
    <label class="trail-detail-lable" for="">Trail Condition:</label>
    &nbsp;
    <span>{{conditionDisplay}}</span>
  </div>
  <div hidden>
    <label class="trail-detail-lable" for="">Park ID:</label>
    &nbsp;
    <span>{{trail.ParkID}}</span>
  </div>
  <div>
    <label class="trail-detail-lable" for="">Park Name:</label>
    &nbsp;
    <span>{{trail.ParkName}}</span>
  </div>
  <div hidden>
    <label class="trail-detail-lable" for="">Park:</label>
    &nbsp;
    <span>{{trail.Park}}</span>
  </div>
</div>

<button mat-button class="nav-btn" color="accent">Edit</button>
<button mat-button class="nav-btn" routerLink="/trail">Back to List</button>

</div>
