<h1>Details</h1>

<hr>
<div *ngIf="Trail" class="main-div">
  <div>
    <label for="">TrailID</label>
    <span>{{trail.TrailID}}</span>
  </div>
  <div>
    <label for="">TrailName</label>
    <span>{{trail.TrailName}}</span>
  </div>
  <div>
    <label for="">TrailDistance</label>
    <span>{{trail.TrailDistance}}</span>
  </div>
  <div>
    <label for="">Difficulty</label>
    <span>{{trail.Difficulty}}</span>
  </div>
  <div>
    <label for="">IsOpen</label>
    <span>{{trail.IsOpen}}</span>
  </div>
  <div>
    <label for="">ParkID</label>
    <span>{{trail.ParkID}}</span>
  </div>
  <div>
    <label for="">ParkName</label>
    <span>{{trail.ParkName}}</span>
  </div>
  <div>
    <label for="">Park</label>
    <span>{{trail.Park}}</span>
  </div>
</div>

<button mat-button color="accent">Edit</button>
<button mat-button color="primary" routerLink="/trail">Back to List</button>