<div class="main-div">

<h1>My Parks Details</h1>

<div *ngIf="myPark">
  <div hidden>
    <label class="mypark-detail-lable" for="">Park ID:</label>
    &nbsp;
    <span> {{myPark.ParkID}}</span>
  </div>
  <div>
    <label class="mypark-detail-lable" for="">Park Name:</label>
    &nbsp;
    <span> {{myPark.ParkName}}</span>
  </div>
  <div hidden>
    <label class="mypark-detail-lable" for="">Trail ID:</label>
    &nbsp;
    <span> {{myPark.TrailID}}</span>
  </div>
  <div>
    <label class="mypark-detail-lable" for="">Trail Name:</label>
    &nbsp;
    <span> {{myPark.TrailName}}</span>
  </div>
  <div>
    <label class="mypark-detail-lable" for="">My Trail Status:</label>
    &nbsp;
    <span> {{myPark.MyTrailStatus}}</span>
  </div>
  <div>
    <label class="mypark-detail-lable" for="">Trail Comments:</label>
    &nbsp;
    <span> {{myPark.TrailComment}}</span>
  </div>
</div>

<button mat-button color="accent">Edit</button>
<button mat-button color="primary" routerLink="/mypark">Back to List</button>

&nbsp;

</div>