<h1>My Parks Details</h1>

<div *ngIf="myPark">
  <div>
    <label for="">Park ID</label>
    <span> {{myPark.ParkID}}</span>
  </div>
  <div>
    <label for="">Park Name</label>
    <span> {{myPark.ParkName}}</span>
  </div>
  <div>
    <label for="">Trail ID</label>
    <span> {{myPark.TrailID}}</span>
  </div>
  <div>
    <label for="">Trail Name</label>
    <span> {{myPark.TrailName}}</span>
  </div>
  <div>
    <label for="">My Trail Status</label>
    <span> {{myPark.MyTrailStatus}}</span>
  </div>
  <div>
    <label for="">Trail Comments</label>
    <span> {{myPark.TrailComment}}</span>
  </div>
</div>

<button mat-button class="nav-btn">Edit</button>
<button mat-button class="nav-btn" routerLink="/mypark">Back to List</button>