<h1>Details</h1>

<hr>
<div *ngIf="MyPark">
  <div>
    <label for="">Park ID</label>
    <span>{{mypark.ParkID}}</span>
  </div>
  <div>
    <label for="">Park Name</label>
    <span>{{mypark.ParkName}}</span>
  </div>
  <div>
    <label for="">Trail ID</label>
    <span>{{mypark.TrailID}}</span>
  </div>
  <div>
    <label for="">Trail Name</label>
    <span>{{mypark.TrailName}}</span>
  </div>
  <div>
    <label for="">My Trail Status</label>
    <span>{{mypark.MyTrailStatus}}</span>
  </div>
  <div>
    <label for="">Trail Comments</label>
    <span>{{mypark.TrailComment}}</span>
  </div>
</div>

<button mat-button color="accent">Edit</button>
<button mat-button color="primary" routerLink="/trail">Back to List</button>