<div class="main-div" class="container">
<h1>My Parks Delete</h1>

<h3 class="mypark-delete-warning">Are you sure you want to delete this entry?</h3>

<div *ngIf="myPark">
  <div >
    <label class="mypark-delete-lable" for="">Park ID:</label>
    &nbsp;
    <span>{{myPark.ParkID}}</span>
  </div>
  <div>
    <label class="mypark-delete-lable" for="">Park Name:</label>
    &nbsp;
    <span>{{myPark.ParkName}}</span>
  </div>
  <div >
    <label class="mypark-delete-lable" for="">Trail ID:</label>
    &nbsp;
    <span>{{myPark.TrailID}}</span>
  </div>
  <div>
    <label class="mypark-delete-lable" for="">Trail Name:</label>
    &nbsp;
    <span>{{myPark.TrailName}}</span>
  </div>
  <div>
    <label class="mypark-delete-lable" for="">My Trail Status:</label>
    &nbsp;
    <span>{{myPark.MyTrailStatus}}</span>
  </div>
  <div>
    <label class="mypark-delete-lable" for="">Trail Comment:</label>
    &nbsp;
    <span>{{myPark.TrailComment}}</span>
  </div>
  &nbsp;
</div>

<button mat-button color="warn" type="submit" (click)="onDelete()">Delete</button> |
<button mat-button class="nav-btn" routerLink="/mypark">Back to List</button>

<ng-container matColumnDef="buttons">
  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
  <mat-cell *matCellDef="let mypark">
    <i mat-icon class="material-icons" routerLink="/mypark/edit/{{mypark.MyParkID}}">edit"</i>
    <i class="material-icons" routerLink="/mypark/delete/{{mypark.MyParkID}}">delete</i>
  </mat-cell>
</ng-container>
&nbsp;
</div>