<h1>My Parks Delete</h1>
<h4>Are you sure you want to delete this entry?</h4>

<hr>
<div *ngIf="myPark">
  <div>
    <label for="">ParkID</label>
    <span>{{myPark.ParkID}}</span>
  </div>
  <div>
    <label for="">ParkName</label>
    <span>{{myPark.ParkName}}</span>
  </div>
  <div>
    <label for="">Trail ID</label>
    <span>{{myPark.TrailID}}</span>
  </div>
  <div>
    <label for="">Trail Name</label>
    <span>{{myPark.TrailName}}</span>
  </div>
  <div>
    <label for="">My Trail Status</label>
    <span>{{myPark.MyTrailStatus}}</span>
  </div>
  <div>
    <label for="">Trail Comment</label>
    <span>{{myPark.TrailComment}}</span>
  </div>
</div>

<button mat-button color="warm" (click)="onDelete()">Delete</button>
<button mat-button color="primary" routerLink="/mypark">Back to List</button>

<ng-container matColumnDef="buttons">
  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
  <mat-cell *matCellDef="let mypark">
    <i mat-icon class="material-icons" routerLink="/mypark/edit/{{mypark.MyParkID}}">edit"</i>
    <i class="material-icons" routerLink="/mypark/delete/{{mypark.MyParkID}}">delete</i>
  </mat-cell>
</ng-container>