<h1> Parks You've Visited.</h1>
<hr>
​
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="noteForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="MyParkId" formControlName="MyParkId" type="MyParkId" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Park Id" formControlName="ParkId" type="ParkId" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Trail Id" formControlName="TrailId" type="TrailId" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="My Trail Status" formControlName="MyTrailStatus" type="MyTrailStatus" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Comments " formControlName="Comments" type="Comments" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create New Park</button>
</form>
​
<a mat-button routerLink="/mypark">Back to List</a>