<h1>Create Trail</h1>

<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="trailForm">
  <div class="main-div">
      <h1>Tell Us About Your Trail</h1>
    <div>
      <mat-form-field>
        <input matInput placeholder="Trail Name" formControlName="TrailName" type="TrailName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Trail Distance" formControlName="TrailDistance" type="TrailDistance" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Trail Difficulty" formControlName="TrailDifficulty" required>
          <mat-option *ngFor="let trailDifficulty of trailDifficulty" [value]="trailDifficulty">{{trailDifficulty}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Is It Open" formControlName="IsOpen" required>
          <mat-option *ngFor="let isOpen of isOpen" [value]="isOpen">{{isOpen}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Park ID" formControlName="ParkID"  required>
          <mat-option *ngFor="let parkID of parks" [value]="parkID.ParkID">{{parkID.ParkID}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Park Name" formControlName="ParkName"  required>
          <mat-option *ngFor="let parkname of parks" [value]="parkname.ParkName">{{parkname.ParkName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <button mat-raised-button class="nav-btn" type="button" routerLink= "/trail" (click)="onSubmit()"> Create Trail</button>
    <br>
    <br>
    <a mat-button routerLink="/trail">Back to Trails</a>
  </div>
</form>
​