<h1> Trails</h1>
<a mat-raised-button class="nav-btn" routerLink="/trail/create">Add New Trail</a>


<div class="trail-index">
  <table mat-table [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="columnNames"></tr >
    <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>

    <ng-container matColumnDef="TrailID">
      <th mat-header-cell *matHeaderCellDef>Trail ID</th>
      <td mat-cell *matCellDef="let trail">{{trail.TrailID}}</td>
    </ng-container>
    
    <ng-container matColumnDef="TrailName">
      <th mat-header-cell *matHeaderCellDef>Trail Name</th>
      <td mat-cell *matCellDef="let trail">{{trail.TrailName}}</td>
    </ng-container>
    
    <ng-container matColumnDef="TrailDistance">
      <th mat-header-cell *matHeaderCellDef>Trail Distance</th>
      <td mat-cell *matCellDef="let trail" >{{trail.TrailDistance}}<td>
    </ng-container>
    
    <ng-container matColumnDef="TrailDifficulty">
      <th mat-header-cell *matHeaderCellDef>Trail Difficulty</th>
      <td mat-cell *matCellDef="let trail">{{trail.TrailDifficulty}}</td>
    </ng-container>
    
    <ng-container matColumnDef="IsOpen">
      <th mat-header-cell *matHeaderCellDef>Trail Status</th>
      <td mat-cell *matCellDef="let trail">{{trail.TrailStatus}}</td>
    </ng-container>
    
    <ng-container matColumnDef="ParkID">
      <th mat-header-cell *matHeaderCellDef>Park</th>
      <td mat-cell *matCellDef="let trail">{{trail.ParkID}}</td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let trail">
        <i mat-icon class="material-icons" routerLink="/trail/edit/{{trail.TrailID}}">edit</i>
        <i class="material-icons" routerLink="/trail/delete/{{trail.TrailID}}">delete</i>
      </td>
    </ng-container>

  </table>
</div>