@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .dt-w-e {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .dt-w-e::before {
  content: "W";
  position: absolute;
  color: #012779;
  font-size: 1.6em;
  left: 5px;
}
.app .dt-w-e::after {
  content: "E";
  position: absolute;
  color:#012779;
  font-size: 1.6em;
  right: 5px;
}
.app .dt-n-s {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .dt-n-s::before {
  content: "N";
  position: absolute;
  color: #012779;
  font-size: 1.6em;
  top: 5px;
}
.app .dt-n-s::after {
  content: "S";
  position: absolute;
  color: #012779;
  font-size: 1.6em;
  bottom: 0;
}
.app .arrows {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: arrows 2s ease infinite alternate;
  transform-origin: center;
}
.app .arrows::before, .app .arrows::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
}
.app .arrows::before {
  bottom: 12.5px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 90px solid #012779;
}
.app .arrows::after {
  top: 12.5px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 90px solid #E2DCC2;
}
.app .compass {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #012061;
  box-shadow: 0 3px 10px #012779;
}
.app .compass::before {
  top: -40px;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 10px solid #012779;
  border-radius: 50%;
}

@keyframes arrows {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}