<head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  </head>
<h1 class="heading"> Parks</h1>
<a mat-raised-button color="white">Add New Park</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
  </mat-table>
</div>

<ng-container matColumnDef="details">
  <mat-header-cell *matHeaderCellDef>Park#</mat-header-cell>
  <mat-cell *matCellDef="let park" routerLink= "/park/details/{{park.ParkId}}">{{park.ParkId}}</mat-cell>
</ng-container>

<ng-container matColumnDef="details">
  <mat-header-cell *matHeaderCellDef>Park</mat-header-cell>
  <mat-cell *matCellDef="let park" routerLink= "/park/details/{{park.ParkId}}">{{park.ParkName}}</mat-cell>
</ng-container>

<ng-container matColumnDef="details">
  <mat-header-cell *matHeaderCellDef>Park Cost</mat-header-cell>
  <mat-cell *matCellDef="let park" routerLink= "/park/details/{{park.ParkId}}">{{park.ParkCost}}</mat-cell>
</ng-container>

<ng-container matColumnDef="details">
  <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
  <mat-cell *matCellDef="let park" routerLink= "/park/details/{{park.ParkId}}">{{park.ParkState}}</mat-cell>
</ng-container>

<ng-container matColumnDef="details">
  <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
  <mat-cell *matCellDef="let park" routerLink= "/park/details/{{park.ParkId}}">{{park.ParkPhone}}</mat-cell>
</ng-container>

<ng-container matColumnDef="details">
  <mat-header-cell *matHeaderCellDef>Website</mat-header-cell>
  <mat-cell *matCellDef="let park" routerLink= "/park/details/{{park.ParkId}}">{{park.ParkWesite}}</mat-cell>
</ng-container>

<ng-container matColumnDef="details">
  <mat-header-cell *matHeaderCellDef>More About</mat-header-cell>
  <mat-cell *matCellDef="let park" routerLink= "/park/details/{{park.ParkId}}">{{park.ParkDescription}}</mat-cell>
</ng-container>