<body>
  <form class="col-sm-8" id="registerstuff" (ngSubmit)="onSubmit()" [formGroup]="_registerForm">
    <h1>Register</h1>
    <h4>Create A New Account.</h4>
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" type="email" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" type="username" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="ConfirmPassword" formControlName="passwordConfirm" type="passwordConfirm" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn submit-btn" color="primary" type="submit">Register</button>

</form>
</body>
  

