<h1> My Parks</h1>
  <a mat-raised-button class="nav-btn" routerLink="/mypark/create"> Add New Park</a>
<div class="container">
      <div class="main-div main-div2">
          
        <table mat-table [dataSource]="dataSource">
          <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
        
        <ng-container matColumnDef="ParkName">
          <th mat-header-cell *matHeaderCellDef class="headings">Park</th>
          <td mat-cell *matCellDef="let myPark">{{myPark.ParkName}}</td>
        </ng-container>
        
        <ng-container matColumnDef="TrailID">
          <th mat-header-cell *matHeaderCellDef class="headings">Trail ID</th>
          <td mat-cell *matCellDef="let myPark">{{myPark.TrailID}}</td>
        </ng-container>
    
        <ng-container matColumnDef="TrailName">
          <th mat-header-cell *matHeaderCellDef class="headings">Trail Name</th>
          <td mat-cell *matCellDef="let myPark">{{myPark.TrailName}}</td>
        </ng-container>
        
        <ng-container matColumnDef="StatusString">
          <th mat-header-cell *matHeaderCellDef class="headings">Trail Status</th>
          <td mat-cell *matCellDef="let myPark">{{myPark.StatusString}}</td>
        </ng-container>
        
        <ng-container matColumnDef="TrailComment">
          <th mat-header-cell *matHeaderCellDef class="headings">Trail Comment</th>
          <td mat-cell *matCellDef="let myPark">{{myPark.TrailComment}}</td>
        </ng-container>
    
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef class="headings"> Edit / Delete</th>
            <td mat-cell *matCellDef="let mypark">
              <i mat-icon class="material-icons" routerLink="/mypark/edit/{{mypark.MyParkID}}">edit</i>
              <i class="material-icons" routerLink="/mypark/delete/{{mypark.MyParkID}}">delete</i> 
            </td>
        </ng-container>
      </table>
    </div>
</div>
