<h1> My Parks</h1>
<a mat-raised-button color="white" routerLink="/myparks/create"> Add New Park</a>
<hr>

<div>
  <table mat-table [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <td mat-row *matRowDef="let row; columns: columnNames;"></td>
    
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Park ID</th>
      <td mat-cell *matCellDef="let myPark">{{myparks.ParkID}}</td>
    </ng-container>
    
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Park</th>
      <td mat-cell *matCellDef="let myPark">{{myparks.ParkName}}</td>
    </ng-container>
    
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Trail ID</th>
      <td mat-cell *matCellDef="let myPark">{{myparks.TrailID}}</td>
    </ng-container>
    
    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Trail Name</th>
        <td mat-cell *matCellDef="let myPark">{{myparks.TrailName}}</td>
      </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Trail Status</th>
      <td mat-cell *matCellDef="let myPark">{{myparks.MyTrailStatus}}</td>
    </ng-container>
    
    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Trail Comment</th>
        <td mat-cell *matCellDef="let myPark">{{myparks.TrailComment}}</td>
      </ng-container>

  </table>
</div>