.main-div2{
    margin-top: 30px;
    display: flex;
}
.main-div2 table {
    border-collapse: collapse;
    width: 1000px;
}

th, td {
    text-align: left;
    border-bottom: 1px solid blue;
}

tr:nth-child(even){
    background-color: rgb(161, 161, 240);
}
.material-icons{
    cursor: pointer;
} 